Source: crossgame-emulators
Section: admin
Priority: extra
Maintainer: Adrián Fernández Cintado <afercin@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4

Package: crossgame-emulators
Architecture: all
Depends: libqt5gui5, libsdl2-dev, libxxhash-dev, mesa-vulkan-drivers, vulkan-tools, vulkan-validationlayers,
 vulkan-validationlayers-dev, libcurl3-gnutls, git, cmake, libsdl2-dev, libxrandr-dev, pkg-config, qtbase5-dev, 
 qtbase5-private-dev, qtbase5-dev-tools, qttools5-dev, libevdev-dev, libwayland-dev, libwayland-egl-backend-dev, 
 extra-cmake-modules, libcurl4-gnutls-dev, libgbm-dev, libdrm-dev, ninja-build
Maintainer: Internal Pointers <info@internalpointers.com>
Description: CrossGame emulators compatibility
