Package: CrossGamePlymouth
Version: 0.2.5
Architecture: all
Depends: plymouth, plymouth-themes
Maintainer: Internal Pointers <info@internalpointers.com>
Description: A program that greets you.
 You can add a longer description here. Mind the space at the beginning of this paragraph.
