*__pycache__
*deb
.vscode
release

emulators/.third-party
emulators/rpi
emulators/usr/share
emulators/usr/local

*.changes
*.buildinfo
*debhelper*
*.substvars
files

*/debian/crossgame-conf-base
*/debian/crossgame-emulators
*/debian/crossgame-plymouth
*/debian/crossgame-utils