Source: crossgame-plymouth
Section: admin
Priority: extra
Maintainer: Adrián Fernández Cintado <afercin@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4

Package: crossgame-plymouth
Version: 0.2.6
Architecture: all
Depends: plymouth, plymouth-themes
Maintainer: Internal Pointers <info@internalpointers.com>
Description: A program that greets you.
 You can add a longer description here. Mind the space at the beginning of this paragraph.
