Package: CrossGameApp
Version: 0.1.22
Architecture: all
Depends: crossgameserver, python3-tk, python3-pil.imagetk, python3-pip, vlc, libvlc-dev,
 nodejs
Maintainer: Internal Pointers <info@internalpointers.com>
Description: A program that greets you.
 You can add a longer description here. Mind the space at the beginning of this paragraph.
