Package: CrossGameConfBase
Version: 0.2.6
Architecture: all
Depends: crossgameemulators, crossgameapp, crossgameutils, crossgameplymouth,
 xinit, x11-xserver-utils, ifupdown, xserver-common, xserver-xorg-core,
 xserver-xorg-legacy, xterm, wget, net-tools, pulseaudio, 
 ssh, bluetooth, curl, vlc
Maintainer: Internal Pointers <info@internalpointers.com>
Description: CrossGame conf base
