Package: CrossGameEmulators
Version: 0.2.4
Architecture: all
Depends: libqt5gui5, libsdl2-dev
Maintainer: Internal Pointers <info@internalpointers.com>
Description: A program that greets you.
 You can add a longer description here. Mind the space at the beginning of this paragraph.
