Package: CrossGameEmulators
Version: 0.2.0
Architecture: all
Depends: 
Maintainer: Internal Pointers <info@internalpointers.com>
Description: A program that greets you.
 You can add a longer description here. Mind the space at the beginning of this paragraph.
