Source: crossgame-utils
Section: admin
Priority: extra
Maintainer: Adrián Fernández Cintado <afercin@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4s

Package: crossgame-utils
Architecture: all
Depends: python3, python3-pip, python3-dev, build-essential
Maintainer: Internal Pointers <info@internalpointers.com>
Description: CrossGame utils and services

Package: crossgame-api
Architecture: all
Depends: crossgame-steamlink, python3-flask, python3-tk, chromium-chromedriver
Maintainer: Internal Pointers <info@internalpointers.com>
Description: CrossGame emulators compatibility

Package: crossgame-input
Architecture: all
Depends: crossgame-utils, crossgame-api, rpi.gpio-common, python3-rpi.gpio
Maintainer: Internal Pointers <info@internalpointers.com>
Description: CrossGame emulators compatibility

Package: crossgame-steamlink
Architecture: all
Depends: steamlink, cec-utils, libcec6, libp8-platform2
Maintainer: Internal Pointers <info@internalpointers.com>
Description: CrossGame emulators compatibility
